/***********************************************/
/******************* slamet ********************/
/***********************************************/

.counter {
	position: absolute;
	left: 50%;
	top: 30px;
	width: 40px;
	margin-left: -20px;
}

.counter svg {
	display: block;
	margin: 14px auto 0;
	fill: #58785A;
}

.counter__number {
	text-align: center;
	position: absolute;
	background: #e66868;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	bottom: -5px;
	right: -5px;
}

.stack--slamet .stack__item--reject {
	-webkit-animation: slametReject 0.5s forwards;
	animation: slametReject 0.5s forwards;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

@-webkit-keyframes slametReject {
	to {
		opacity: 0;
		-webkit-transform: rotate3d(1,0,0,-90deg);
		transform: rotate3d(1,0,0,-90deg);
	}
}

@keyframes slametReject {
	to {
		opacity: 0;
		-webkit-transform: rotate3d(1,0,0,-90deg);
		transform: rotate3d(1,0,0,-90deg);
	}
}

.stack--slamet .stack__item--accept {
	-webkit-animation: slametAccept 0.6s forwards;
	animation: slametAccept 0.6s forwards;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

@-webkit-keyframes slametAccept {
	40% {
		-webkit-animation-timing-function: cubic-bezier(0.4,1,0.3,1);
		animation-timing-function: cubic-bezier(0.4,1,0.3,1);
		-webkit-transform: translate3d(0,20%,0) scale3d(1.1,1.1,1);
		transform: translate3d(0,20%,0) scale3d(1.1,1.1,1);
	}
	80% {
		opacity: 1;
		-webkit-transform: translate3d(0,-280px,0) scale3d(0.1,0.1,1);
		transform: translate3d(0,-280px,0) scale3d(0.1,0.1,1);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,-250px,0) scale3d(0.05,0.05,1);
		transform: translate3d(0,-250px,0) scale3d(0.05,0.05,1);
	}
}

@keyframes slametAccept {
	40% {
		-webkit-animation-timing-function: cubic-bezier(0.4,1,0.3,1);
		animation-timing-function: cubic-bezier(0.4,1,0.3,1);
		-webkit-transform: translate3d(0,20%,0) scale3d(1.1,1.1,1);
		transform: translate3d(0,20%,0) scale3d(1.1,1.1,1);
	}
	80% {
		opacity: 1;
		-webkit-transform: translate3d(0,-280px,0) scale3d(0.1,0.1,1);
		transform: translate3d(0,-280px,0) scale3d(0.1,0.1,1);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,-250px,0) scale3d(0.05,0.05,1);
		transform: translate3d(0,-250px,0) scale3d(0.05,0.05,1);
	}
}
